/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Page Layout */
html {
  font-family: 'Alegreya', serif;
  font-size: 22px;
  line-height: 26px;
  padding: 13px;
}

#container {
  min-height: 100vh;
  position: relative;
}

#page-wrap {
  padding-bottom: 2.5rem;
}

#mainpage {
  padding: 22px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#title {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

#logo {
  height: 120px;
  width: 120px;
}

.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  text-align: center;
}

#footer {
  font-size: small;
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  border-top: 2px solid rgb(214, 214, 214);
  margin-top: 50px;
  background-color: #DDD;
}

/* Buttons and Controls */
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: inherit;
  border: 0;
  border-radius: 5px;
  padding: 2.5px 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.join {
  background-color: green;
  color: white;
}

.leave {
  background-color: rgb(167, 9, 9);
  color: white;
}

#call-button {
  box-sizing: border-box;
  width: 100px;
}

.vidOff {
  background-color: green;
  color: white;
}

.videocut {
  background-color: rgb(167, 9, 9);
  color: rgb(255, 255, 255);
}

.mute {
  background-color: green;
  color: white;
}

.audiocut {
  background-color: rgb(167, 9, 9);
  color: rgb(255, 255, 255);
}

#video-button {
  box-sizing: border-box;
  width: 75px;
}

#audio-button {
  box-sizing: border-box;
  width: 75px;
}

/* Videos */
video {
  background-color: #DDD;
  max-width: 50%;
  display: inline-block;
  border: solid #2c4e4e;
}

#videos {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#self {
  width: 50%;
  max-width: 320px;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* Chat */
#chatbox {
  padding: 10px;
  box-sizing: border-box;
  border: solid #2c4e4e;
  float: right;
}

#chat-log {
  width: 300px;
  padding: 5px;
  margin-bottom: 5px;
}

#chat-log .peer {
  background:#DDD;
}

#chat-log .self {
  background: #98c2c2;
}

#chat-msg {
  padding: 5px;
  width: 200px;
}

#chat-btn {
  width: 50px;
  position: relative;
}

/* spotify */
#spotify-fileshare {
  padding: 10px;
  box-sizing: border-box;
  border: solid #2c4e4e;
  margin-bottom: 50px;
  float: left;
}

.send {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: inherit;
  border: 0;
  border-radius: 5px;
  padding: 2.5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Accessibility */
.preserve-access {
  position: absolute;
  left: -20000px;
}

/* Media Queries */
@media screen and (min-width: 500px) {
  #header {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-end;
  }
  #header > * {
    flex: 0 0 auto;
  }
  #header > h1 {
    margin-bottom: 0;
  }
}
/* test */
